#txt_title {
	font-size: 25pt;
    line-height: 14pt;
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 0px 8px #000;
	float: right;
}

#txt_title_subphrase {
	font-size: 14pt;
	color: #171A5D;
}	

#header {
	padding: 10px;
	margin-bottom: 5px;
    border-bottom: 1px solid #000000;
    margin: 0px;
    color: #EEEEEE;
}

#lang_select, #navigation {
	padding: 3px;
}

#content, #content1, #content2, #content3, #content4 {
	margin: 0px;
	padding: 0px;
    border-bottom: 1px solid #7d5503;
}

#content1 {
	background-color: #fbc576;
	text-align: center;
}

#content2 {
	background-color: #d9a04d;
	text-align: center;
}

#content3 {
	background-color: #d9a04d;
    display: none;
}

#content4 {
	background-color: #cd9035;
}

#plagtext {
	margin: auto;
}

#credits {
    float: right;
    margin-right: 10px;
}

#testresults, #asynctestresults {
    color: #AAA;
    font-family: monospace;
    margin-top: 20px;
}

#analyze_time_left {
    font-size: 12pt;
    font-weight: normal;
}

.textview_size, .textview {
    width: 750px;
    height: 320px;
}

.textview {
	overflow: auto;
	margin: auto;	
	background-color: #FFFFFF;
	border: 1px solid black;
	padding: 5px;
    font-size: 10pt;
    text-align: left;
}

#resultinfo {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    position: relative;
    padding: 0px;
}

#resultinfo_data {
    background-color: #694302;
    border-top: 1px solid #382300;
    border-left: 1px solid #382300;
    border-bottom: 1px solid #ffcc99;
    border-right: 1px solid #ffcc99;
    font-size: 8pt;
    font-weight: normal;
    overflow: auto;
    padding: 1px;
    color: #feeac2;
    margin-bottom: 20px;
}

#txt_resultinfo_count {
    font-size: 10pt;
    margin-top: 3px;
}

#resultinfo_count {
    font-size: 12pt;
}

#resultinfo_count {
    font-weight: bold;
}

#resultinfo_close {
    font-size: 9pt;
    float: right;
    margin: 0px;
}

#resultinfo_controls {
    border-top: 1px solid #533700;
    padding: 3px;
    margin-top: 4px;
    display: none;
}

#resultinfo_inspect {
    font-size: 9pt;
    text-align: center;
    margin: 0px;
}

#resultview, #textview {
    text-align: left;
}

#txt_textview {
    font-size: 10pt;
}

#grouplen {
	width: 45px;
}

#gaplen	{
	width: 45px;
}

#txt_help {
    padding: 20px;
}

.navspan {
	margin-right: 30px;
}

.lang_link {
	margin: 20px;
}
           			
.active	{
	font-weight: bold;
	text-decoration: none;
    color: #DDDDDD;
}

.accept_link {
	padding: 5px;
	border-left: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #555555;
	border-bottom: 2px solid #555555;
	background-color: #CCCCCC;
	text-decoration: none;
	color: #000000;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}

.content {
	display: none;
	min-height: 580px;
    margin: 0px;
}

.headline {
	text-align: center;
	border-bottom: 1px solid #13499c;
	border-top: 1px solid #a4b7f0;
	background-color: #6fadfb;
    text-shadow: #000000 2px 2px 8px;
    color: #f9eee3;
    margin: 0px;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 29pt;
    font-family: serif;
    font-variant: small-caps;
    font-weight: normal;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
    background-color: #466899;
    color: #111111;
}

a {
    color: #BBBBBB;    
}
